body{
    font-family: 'Courier New', Courier, monospace;
}

.nome, .senha{

    width: 300px;
    height: 35px;
    border: 2px solid lightblue;
    border-radius: 10px;
    display: block;
    margin-bottom: 10px;
}

.tela{

    width: 300px;
    border-radius: 10px;
    border: 2px solid lightblue;
    padding: 20px;
    box-shadow: 2px 4px 8px lightskyblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    background-color: white;
    transition: 0.4s;
}

#popup{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.1);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    cursor: pointer;
}

.tela h1{
    color:lightskyblue;
}

.tela label{
    color: lightskyblue;
}

.botao{
    color: white;
}


.tela .botao{
    background-color: lightblue;
    border: 1px solid lightblue;
    padding: 10px;
    width: 100%;
}

.loginBotao{

    text-decoration: none;
    color: white;
    background-color: lightblue;
    margin: 100px;
    padding: 15px;

}