audio{
    border: 2px solid #49c5eb;
    border-radius: 30px;
    width: 60%;
    margin: 0px;
    /* position: absolute; */
    bottom: 0px;
    left: 0;
    margin-left: 19%;
    margin-bottom: 10px;
}

video{
    width: 100%;
    border-radius: 30px;
}

*{
    margin: 0;
}

audio:hover{
    border: 2px solid #49c5eb;
}

audio::selection{
    border: 2px solid yellow;
}

.player, .video{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 50%;
    background-color: #707070;
    padding: 0;
    border-radius: 30px 30px 30px 30px;

}


.player img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

video

.video video{
    width: 100%;
}